body {
    /*background-image: url("assets/images/the-it-crowd-background.jpg");*/
    background-image: url("http://www.channel4.com/microsites/I/it-crowd/wallpapers/1920x1080.jpg");

    
}
/*Figure out why font won't load*/
/*@font-face {
	font-family: myFirstFont;
	src: url("assets/fonts/256bytes.ttf");
}*/

#mainContent {
	background-color: black;
	margin-top: 100px;
	height: 700px;
	opacity: 0.95;
	text-align: center;
	/*font-family: myFirstFont;*/


}

#h1 {
	color: green;
	font: 50px bold;
}

.nonAnswers {
	font-size: 25px;
	color: green;
}

.answers {
	font-size: 20px;
	color: yellow;
}